# Virtualenv files
bin/
lib/
scripts/
include/
pip-selfcheck.json

# Python Files
*.Python
__pycache__/
*.pyd
*.pyc

# IDE Files
.idea/
.cache/

# Packaging Files
dist/
*.egg-info
build/
.eggs

# Test files
.coverage